name: Autorelease

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
    inputs:
      new_version:
        description: 'New tag version'
        default: 'patch'
  schedule:
    - cron: '0 2 * * 6' # saturday 2am

jobs:
  autorelease:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install mise
        uses: jdx/mise-action@v2

      - name: Install dependencies
        run: mise run install

      - name: Codegen
        run: mise run codegen

      - name: Create Pull Request if Codegen changed files
        uses: peter-evans/create-pull-request@v7
        id: pr_create
        if: github.event_name != 'pull_request' && github.ref == 'refs/heads/master'
        with:
          commit-message: "chore: update generated code"
          branch: "chore/codegen-update"
          delete-branch: true
          title: "chore: update generated code"
          body: "This PR updates generated code."

      - name: Stop if a pull request was created
        if: steps.pr_create.outputs.pull-request-number != ''
        run: |
          echo "The codegen scripts changed something and a PR was created. Stopping execution."
          exit 1

      - name: CI
        run: mise run ci

      - name: Release Prepare & Build
        if: github.event_name == 'workflow_dispatch' || startsWith(github.ref, 'refs/tags/')
        env:
          NEW_VERSION: ${{ inputs.new_version }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
           git config user.name github-actions
           git config user.email github-actions@github.com
           mise run release:prepare
           mise run build

      - name: Create Release
        if: github.event_name == 'workflow_dispatch' || startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          VERSION=$(cat version.txt)
          gh release create "$VERSION" build/* --title "Release $VERSION" --generate-notes
